<%= render "devise/shared/error_messages", resource: resource %>

<div class="login-container">
  <div class="login-page">

    <div class="form">

      <div class="login">
        <div class="login-header">
          <h3>SIGN UP</h3>
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "button"  %>
        </div>
      <% end %>

      <p class="message">
        Existing user? <%= link_to "Sign In", user_session_path, :class => 'navbar-link'  %>
      </p>

    </div>

  </div>  
</div>
