<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@device.latitude%>, <%=@device.longitude%>)
    });
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @device.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @device.longitude %>
</p>

<p>
    <div id="map"></div>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
