<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@device.latest_latitude%>, <%=@device.latest_longitude%>)
    });
  </script>
<% end %>

<p>
  <strong>Device IMEI:</strong>
  <%= @device.imei_no %>
</p>

<p>
  <strong>Device Make:</strong>
  <%= @device.make %>
</p>

<p>
  <strong>Device Model:</strong>
  <%= @device.model %>
</p>

<p>
  <strong>Latest Latitude:</strong>
  <%= @device.latest_latitude %>
</p>

<p>
  <strong>Latest Longitude:</strong>
  <%= @device.latest_longitude %>
</p>

<div class="container-fluid" style="padding-left:0px">
  <div class="row" style="height:100%;">
    <div class="col-sm-6">
      <div id="map" style="height:300px;width: 500px;"></div>
    </div>
    <div class="col-sm-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Location At</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <% @device.device_locations.each do |location| %>
            <tr>
              <td><%= location.location_at %></td>
              <td><%= location.address %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

<br>
<%= link_to 'Back', devices_path %>